a{
  background-color: black;
  color: lime; 
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 50px;
  width: 100px;
  align-items: center;
 
}
h2, p , label, h1{ 
  color: lime;
}

.IntroText{
  display: flex;
  justify-content: center; 
  height: 2000px;
}

.script-box {
  will-change: width, height, left, top;
  position: relative;
}